.card {
  max-width: 180px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 8px;
  justify-self: center;
  align-self: center;
}

.header {
  background: var(--gray);
  padding: 11px 45px 0 45px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 140px;
}

.info {
  background-color: var(--black);
  padding: 12px 10px;
}

.tag {
  font-weight: 300;
  font-size: 11px;
  text-transform: capitalize;
  color: var(--input-gray);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 3px;
}

.title {
  font-weight: 600;
  font-size: 15px;
  line-height: 104%;
  color: var(--white);
  margin-bottom: 8px;
  height: 32px;
  display: -webkit-box; /* Включаем flexbox-контейнер */
  -webkit-box-orient: vertical; /* Вертикальное направление */
  -webkit-line-clamp: 2; /* Ограничиваем количество строк */
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author {
  font-weight: 400;
  font-size: 10px;
  color: var(--white);
  margin-bottom: 38px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: 1px solid var(--white);
  cursor: pointer;
}

.favorite {
  background: var(--white);
}

.cover {
  max-width: 91px;
  max-height: 130px;
}
