.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu__item1,
.menu__item2 {
  display: flex;
  gap: 10px;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  text-decoration: none;
  color: var(--black);
}

.menu__counter {
  width: 30px;
  height: 30px;
  border: 1px solid var(--black);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 267%;
  color: var(--secondary-black);
}

.menu__item1 {
  font-weight: 700;
}
