#root {
  --black: #212121;
  --white: #fafafa;
  --gray: #dedede;
  --secondary-black: #121212;
}

body {
  padding: 35px 30px;
  max-width: 1000px;
  margin: 0 auto;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}
