#root {
  --black: #212121;
  --white: #fafafa;
  --input-gray: #dedede;
  --gray: #b8b8b8;
  --secondary-black: #121212;
}

body {
  padding: 35px 30px;
  max-width: 800px;
  margin: 0 auto;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
